body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Ubuntu', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding: 25px auto 20px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* MAIN CONTENT */

#home-title {
	padding-bottom: 25px;
}

#sections {
	background-color: lightgray;
	border: 1px solid ;
	color: black;
	margin-right: 5px;
}

#section-title {
	margin-top: 10px;
	padding: 10px;
	font-size: 1.5em;
	font-weight: bold;
}

#section-text {
	padding: 10px;
	font-size: 1.2em;
}

/* END OF MAIN ONTENT */